body {
    background-color: $bg-color;
    color: $text-color;
    font-family: 'PT Serif', serif;
}

ul {
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
        

        a {
            padding: 0 1rem
        }

        &:last-child {

            a {
                padding: 0;
            }
        }
    }
}

.heart {
    color: $heart;
}