ul {
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
    }
}

a {
    color: $link-color;

    &:hover, &:visited, &:active {
        color: darken($link-color, 10);
    }
}

hr {
    width: 100px;
    height: 1px;
    margin: 4rem auto;
    background-color: darken($bg-color,20);
    border: 0;
}

em {
    font-size: .85rem;
    font-family: sans-serif;
    font-style: italic;
    color: #7a7a7a;
}

.heart {
    color: $heart;
}

.rss-subscribe {
    text-align: center;
}