ul {
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
    }
}

a {
    color: $link-color;
    text-decoration: none;
    //transition: all .3s ease-in-out;

    &:hover {
        color: $link-color-hover;
    }
}

img {
    width: 100%;
}

hr {
    width: 100px;
    height: 1px;
    margin: 4rem auto;
    background-color: darken($bg-color,20);
    border: 0;
}

em {
    font-style: italic;
}

.heart {
    color: $heart;
}
