footer {
    flex-shrink: 0;
    text-align: center;
    padding: 0 0 1rem;

    &:before {
        display: block;
        content: "____";
        color: $text-color;
        padding: 0 0 1rem;
    }

    a {
        text-decoration: none;
    }

    ul {
        li {
            a {
                padding: 0 1rem
            }
        }
    }
}