h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.site-title {
    float: left;
    padding: .7rem 0 0;

    .logo {
        width: 50px;
        display: inline-block;
        margin: -13px 0;
    }
}

h1, .post-title {
    font-size: 3.5rem;
}
