h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $font-headings;
    font-weight: $headings-weight;
    line-height: $headings-line-height;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

header {
    display: block;

    &:after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
    }

    a {
        text-decoration: none;
        display: block;
    }

    &.site-header {
        padding: 4rem 0 0;

        ul {
            li {
                a {
                    padding: 0 1rem;

                    &:hover svg{
                        color: $dandelion;
                    }
                }
        
                &:last-child {
        
                    a {
                        padding: 0 0 0 1rem;
                    }
                }
            }
        }
    }
}

.site-title {
    float: left;
    font-size: $h5-size;

    .logo {
        width: 50px;
        display: inline-block;
        height: auto;
    }

    a {
        padding: .6em 0;
    }
}

.post-list-heading {
    text-align: center;
}

.post-list {
    h5 {
        display: inline-block;
    }
}

