html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 0 1rem;
    font-size: $font-base-size;
    line-height: $line-height-base;
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-base;
}

main {
    flex: 1 0 auto;
    padding: 4rem 0;
}

.wrapper {
    max-width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content {
    h1 {
        text-align: left;
        font-weight: 700;
        font-size: $h1-size + 1;
        line-height: 1.2;
        padding-bottom: 4rem;
    }

    p {
        font-size: 125%;
        line-height: 1.5;
    }

    img {
        width: 100%;
        display: block;
        padding: 2rem 0;
    }
}

nav {
    display: block;
    text-align: right;

    ul {
        li {
            &.active {
                a {
                    font-weight: 700;
                }
            }
        }
    }
}

.post {
    a {
        background-color: #F2E39B;
        padding: 1px 5px;

        &:hover {
            color: $link-color-hover;
        }
    }

    .post-img {
        max-width: 100%;
        border-radius: .5rem;
        display: block;
        margin: 0 0 2rem;

    }

}

.post-list {
    margin: 0;

    a {
        display: inline-block;
    }
    
    li {
        margin: 0;
        position: relative;
        
        img {
            width: 100%;
        }

        &:last-child {
            hr {
                display: none;
            }
        }

    }
}

.post-meta {
    color: lighten($text-color, 40);
    font-size: 85%;
    margin-top: 0;
}

.post-content {

    ul {

        padding: 0 0 0 2rem;

        li {
            display: list-item;
            list-style: circle;

            a {
                padding: 0;
            }
        }
    }

    p img + em {
        display: block;
        max-width: 75%;
        padding: 0;
        margin: -1rem auto 2rem;
        text-align: center;
        font-size: .6875rem;
        color: #7a7a7a;
    }
}

.archive-item {
    .post-meta {
        float: right;
        margin: 0;
    }
}
