html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding: 0 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    background-color: $bg-color;
    color: $text-color;
    font-family: 'PT Serif', serif;
}

main {
    flex: 1 0 auto;
    padding: 4rem 0;
}

.wrapper {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content {
    p {
        font-size: 125%;
        line-height: 1.5;
    }

    img {
        width: 100%;
        display: block;
        padding: 2rem 0;
    }

    &:after {
        display: block;
        content: "____";
        color: $text-color;
        padding: 1rem 0 4rem;
    }
}

nav {
    display: block;
    text-align: right;
}

.post {
    .post-meta {
        margin-top: 0;
    }

    .post-img {
        max-width: 150%;
        border-radius: .5rem;
        display: block;
        margin: 0 0 2rem -25%;

    }
}

.post-list {
    li {
        width: 100%;
        margin: 0 0 .5rem;
        
        .post-meta {
            float: right;
        }
    }
}

.post-meta {
    color: lighten($text-color, 40);
}

.post-content {
    >p {
        &:first-child {
            font-size: 125%;
            line-height: 1.5;
        }
    }

    ul {

        padding: 0 0 0 2rem;

        li {
            display: list-item;
            list-style: circle;

            a {
                padding: 0;
            }
        }
    }

    p img + em {
        display: block;
        max-width: 75%;
        padding: 0;
        margin: -1rem auto 2rem;
        font-size: .6875rem;
        font-family: sans-serif;
        font-style: italic;
        color: #7a7a7a;
        text-align: center;
    }
}

