$alabaster: rgba(250,250,250,1); //#fafafa
$dark-blue: rgba(0,0,200,1); //#0000C8
$mine-shaft: rgba(50,50,50,1); //#323232
$tree-poppy: rgba(255,158,27,1); // #ff9e1b

$bg-light: $alabaster;

$bg-color: $bg-light;
$link-color: $dark-blue;
$text-color: $mine-shaft;
$heart: $tree-poppy;