$alabaster: rgba(250,250,250,1); //#fafafa
$dark-blue: rgba(0,0,200,1); //#0000C8
$mine-shaft: rgba(50,50,50,1); //#323232
$tundora: rgba(75,75,75,1); //#4b4b4b
$tree-poppy: rgba(255,158,27,1); // #ff9e1b
$dandelion: rgba(255, 217, 102, 1); // #ffd966
$white: rgba(255, 255, 255, 1); // #ffffff
$black: rgba(0, 0, 0, 1); // #000000

$bg-light: $white;

$bg-color: $bg-light;
$text-color: $tundora;
$link-color: $text-color;
$link-color-hover: $black;

$heart: $dandelion;
$headings-bg: $dandelion;

$active-color: $heart;

$font-base: 'Roboto Mono', Courier, Helvetica, sans-serif;
$font-headings: 'Montserrat';
$headings-weight: 800;
$headings-line-height: 1.4;

$font-base-size: 1rem;
$line-height-base: 1.5;

$h1-size: 3.052em;
$h2-size: 2.441em;
$h3-size: 1.953em;
$h4-size: 1.563em;
$h5-size: 1.25em;
$h6-size: $font-base-size;

$btn-primary-bg: $dandelion;
$btn-primary-color: $black;

