<footer class="site-footer">
    <div class="">
        <div class="footer-row">
            {% include social.html %}
        </div>
        <div class="footer-row">
            <p class="rss-subscribe"><small>Recibí notificaciones en tu casilla de email <a href="{{ "/feed.xml" | relative_url }}" target="_blank">via RSS</a></small></p>
        </div>
        <div class="footer-row">
            <span><small>{{ site.copyright }}</small></span>
        </div>
        <!-- div class="footer-row">
            <div id="wcb" class="wcb carbonbadge"></div>
            <script src="https://unpkg.com/website-carbon-badges@^1/b.min.js" defer></script>
        </div -->
    </div>
</footer>