<header class="site-header" role="banner">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <h1 class="site-title" >
        <a rel="author" href="{{ "/" | absolute_url }}">
            {% if site.logo %}
                <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}
            {{ site.title }}
        </a>
    </h1>
    <p>{{ site.description | default: site.github.project_tagline }}</p>

    {%- if page_paths -%}
        <nav class="site-nav">
            <ul>
                {% assign pages_list = (site.pages | sort: 'order') %}
                {% for my_page in pages_list %}
                    {%- if my_page.title -%}
                    <li class="{% if my_page.url == page.url %}active{% endif %}">
                        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                    </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </nav>
    {%- endif -%}
</header>


      