---
layout: default
---

{%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <small>{{ post.date | date: "%-d %B %Y" }}</small>
        <h2 class="post-title p-name" itemprop="name headline">
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p class="view">Por <a href="{{post.author.url | relative_url }}">{{ post.author | default: site.author }}</a></p>
        {{ post.content }}
        {% if post.tags %}
            <small>Tags: <em><a href="{{ post.tags.url | relative_url }}">{{ post.tags | join: "</em> - <em>" }}</a></em></small>
        {% endif %}
        <hr>
    {%- endfor -%}
{%- endif -%}



